---
import Layout from '../layouts/Layout.astro';
---

<Layout title="404" og="">
    <section class="flex h-full items-center dark:bg-dark-back sm:p-16">
        <div
            class="container mx-auto my-8 flex flex-col items-center justify-center space-y-8 px-5 text-center sm:max-w-md"
        >
            <p class="text-3xl text-main-text dark:text-dark-text">404 Not Fund</p>
            <p class="text-3xl text-main-text dark:text-dark-text">
                ごめんなさい。見つかりません。
            </p>
            <a
                rel="noopener noreferrer"
                href="/"
                class="rounded px-8 py-3 font-semibold dark:bg-violet-600 dark:text-dark-text"
                >Back to homepage</a
            >
            <img
                src="https://cataas.com/cat?position=center&width=350&height=350"
                alt="cat"
                class="h-[350px] w-[350px]"
            />
        </div>
    </section>
</Layout>
