---
import { getBlogs } from "../library/microcms";
import Layout from "../layouts/Layout.astro";
const response = await getBlogs({ fields: ["id", "title","eyecatch","publishedAt"] });
response.contents.forEach((content:any) =>{
content.publishedAt = new Date(content.publishedAt).toLocaleDateString('ja-JP');
});
---
<Layout title="ear-diary">
		<ul class="flex flex-wrap">
      {
        response.contents.map((content: any) => (
          <li class="h-fit rounded border-2 w-64 flex justify-center items-stretch">
		  <img src=`${content.eyecatch.url}?fm&fit=clamp&w=350&h=183` class="rounded-md" width=350 height=183px> 
		<div>{content.publishedAt}</div>	  
            <a href={content.id} class="block font-bold">{content.title}</a>
          </li>
        ))
      }
		</ul>
</Layout>
