---
import { getBlogs } from "../library/microcms";
import Layout from "../layouts/Layout.astro";
const response = await getBlogs({ fields: ["id", "title","eyecatch","publishedAt"] });
response.contents.forEach((content:any) =>{
content.publishedAt = new Date(content.publishedAt).toLocaleDateString('ja-JP');
});
---
<Layout title="index" og="https://ear-diary.com/ear.png">
	<div class="dark:bg-dark-back dark:text-dark-text w-full">
	<div class="border-2 border-slate-400">
                <ul class="justify-evenly flex flex-wrap">
      {
       response.contents.slice(0,4).map((content: any) => (
       <li class="rounded border-2 boader-slate-50 w-full lg:w-2/5 items-stretch m-4">
                <a href={content.id} class="block w-full h-full">
                <img src=`${content.eyecatch.url}?fm&fit=clamp&w=350&h=183` alt="thumb image" class="rounded-md w-10/12 mx-auto" width=350 height=183px> 
                <div class="text-sm text-sub-text dark:text-dark-text">{content.publishedAt}</div>   
            <div class="text-main-text font-bold text-lg dark:text-dark-text">{content.title}</div>
                </a>
          </li>
        ))
      }
                </ul>
		<a href="index/1/" class="block flex justify-center items-center w-fit mx-auto">
		<button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">More</button>
		</a>
		</div>
	</div>
</Layout>
