---
import { getBlogs } from "../library/microcms";
import Layout from "../layouts/Layout.astro";
const response = await getBlogs({ fields: ["id", "title","eyecatch","publishedAt"] });
response.contents.forEach((content:any) =>{
content.publishedAt = new Date(content.publishedAt).toLocaleDateString('ja-JP');
});
---
<Layout title="index">
		<ul class="flex flex-wrap">
      {
        response.contents.map((content: any) => (
	<li class="rounded border-2 w-10/12 md:w-4/12 items-stretch m-4">
		<a href={content.id} class="block w-full h-full">
		<img src=`${content.eyecatch.url}?fm&fit=clamp&w=350&h=183` class="rounded-md w-10/12" width=350 height=183px> 
		<div class="text-sm text-slate-400">{content.publishedAt}</div>	  
            <div class="font-bold text-lg">{content.title}</div>
		</a>
          </li>
        ))
      }
		</ul>
</Layout>
