---
async function getMeigen() {
const data = await fetch('https://meigen.doodlenote.net/api/json.php');
const meigen = await data.json();
return meigen;
}
const penis = getMeigen();
---
<div class="w-10/12 boder-2 rouded-xl border-slate-600">
<span class="text-xl text-main-text dark:text-dark-text">{penis.meigen}</span></br>
<span class="text-lg text-sub-text dark:text-dark-text text-right">{penis.auther}</span>
</div>
