---
const { title } = Astro.props
---
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>{title}</title>
<style is:global> @font-face{
		font-family:'BIZ UDPGothic';
		src: url(../../public/fonts/biz-udpgothic-v10-japanese_latin-regular.woff2) format("woff2");
		font-weight:normal;}
	 @font-face{
		font-family:'BIZ UDPGothic';
		src: url(../../public/fonts/biz-udpgothic-v10-japanese_latin-700.woff2) format("woff2");
		font-weight:bold;
	 }
	 body {font-family: "BIZ UDPGothic", "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;}
</style>
  </head>
  <body>
  <header>
	  <a class="logo" href="/"></a>
  </header>
    <article class="mx-auto">
      <slot /> <!-- ここにコンテンツが挿入されます -->
    </article>
  </body>
</html>
